
h1 {
    font-weight: 900;
    font-size: 6rem;
    text-transform: uppercase;
    color: bisque;
}

/* HERO */

.hero {
    position: relative;

}

.hero-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.content {
    position:absolute;
    left: 75%;
    height: 10px;
    width: 10%;
    

}