
h1 {
    font-weight: 900;
    font-size: 6rem;
    text-transform: uppercase;
    color: bisque;
}

h2{
font-weight: 300;
font-size: medium;
text-transform: uppercase;
color: rgb(71, 71, 71);
}


h4 {
text-transform: uppercase;
color: rgb(255, 255, 255);
}

/* HERO */

.hero {
    position: relative;

}

.hero-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#demobox {
    background-color:antiquewhite ;
    padding: 150px ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
  }

#p {
    color: rgb(255, 255, 255);
    text-indent: 100px;
  }

  /* section2 */

  #colorbox{
      background-color: rgb(220, 195, 162);
      height: 50%;
      width: 100%;
      position: absolute;
  }

  /* section3 */

  .glazes{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-75%, 700%);
    background-color: rgba(255, 255, 255, 0.719);
}



#card{
    position: relative;
    top: 10%;
    left: 20%
}